# Copy this file to terraform.tfvars and replace the placeholder values.

project_id      = "my-gcp-project"
location        = "us-east4"
gcp_oracle_zone = "us-east4-a-r2"

network = "projects/my-gcp-project/global/networks/database-vpc"

labels = {
  terraform = "true"
  example   = "basic"
}

deletion_protection = false

output_path = "./output"

odb_network_id                  = "primary-odb-network"
odb_network_location            = null
odb_network_project_id          = null
odb_network_gcp_oracle_zone     = null
odb_network_labels              = {}
odb_network_deletion_protection = false
odb_network_timeouts = {
  create = "90m"
  update = "60m"
  delete = "60m"
}

client_odb_subnet_id                  = "client-subnet"
client_odb_subnet_cidr_range          = "192.168.1.0/24"
client_odb_subnet_location            = null
client_odb_subnet_project_id          = null
client_odb_subnet_labels              = {}
client_odb_subnet_deletion_protection = false
client_odb_subnet_timeouts = {
  create = "90m"
  update = "60m"
  delete = "60m"
}

backup_odb_subnet_id                  = "backup-subnet"
backup_odb_subnet_cidr_range          = "192.168.2.0/28"
backup_odb_subnet_location            = null
backup_odb_subnet_project_id          = null
backup_odb_subnet_labels              = {}
backup_odb_subnet_deletion_protection = false
backup_odb_subnet_timeouts = {
  create = "90m"
  update = "60m"
  delete = "60m"
}
